<div class="flex w-full bg-gray-800 h-16 items-center justify-center">
        <button class="w-24 h-10 text-center text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white border-2 rounded-md m-5">Home</button>
        <button class="w-28 h-10 text-sm font-medium border-2 rounded-md m-5 text-gray-300 hover:bg-gray-700 hover:text-white">Cooking Tips</button>
        <button class="w-24 h-10 text-sm font-medium border-2 rounded-md m-5 text-gray-300 hover:bg-gray-700 hover:text-white">Recepies</button>
       <div class="flex absolute right-0 mr-2">
        <button class="w-24 h-10 text-sm font-medium border-2 rounded-md m-2 text-gray-300 hover:bg-gray-700 hover:text-white">Login</button>
       </div>
</div>
